<h1>Detalle del Producto</h1>

<h2>Nombre</h2> <%=@product.name %>
<br>
<h2>Referencia</h2> <%=@product.ref %>
<br>
<h2>Price</h2> <%=number_to_currency(@product.price)  %>
<br>
<h2>Quantity</h2> <%=@product.quantity %>
<br>
<h2>Brand</h2> <%=@product.brand %>
<br>
<h2>Description</h2> <%=@product.description %>
<br>
<h2>Size</h2> <%=@product.size %>
<br>
<h2>Color</h2> <%=@product.color %>